.wrap-form-list-button
	.row
		.wrap-head
			border-bottom: 1px solid gray
			margin-bottom: 15px
		.wrap-main
			.list-group
				.list-group-item
					border: 0px
					display: flex
					padding-left: 0px
					padding-bottom: 0px
		.wrap-buttons
			position: relative
			min-height: 305px
		.wrap-footer
			display: inline-block
			position: absolute
			bottom: 0px
			margin-top: 40px
			width: 100%
