<div class="wrap-form-list-button" >
	<div class="row">
		<div class="col-md-12 wrap-head">
			<h1 mat-dialog-title class="float-left">Elegir un mensaje</h1>	
			<button type="button" class="close pull-right" aria-label="Close" (click)="backToFormButton(null)">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="col-md-12 wrap-main">
			<ul class="list-group center-block wrap-buttons">
				<li *ngFor="let item of arrayMsj" class="list-group-item" >
					<button *ngIf="item.title!=''" type="button" (click)="backToFormButton(item)" class="btn btn-primary center-block">{{item.title}}</button>
				</li>
			</ul>
		</div>
			<button class="btn" (click)="backToFormButton(9)"></button>
	</div>

</div>