<div class="row wrap-section-page wrap-contain-growth">
	<div class="col-md-12">
		<div class="col-md-12">
        	<h3 class="title title-section">Crecimiento</h3>
        </div>

        <mat-accordion class="example-headers-align">
		  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Paso 1
		      </mat-panel-title>
		      <mat-panel-description>
		        Introducir el SDK en el código fuente de tu ecommerce
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    <p>Vé al código de tu Ecommerce y pega el script que se encuentra debajo:</p>
		    <div class="code_script">
                <pre class="prettyprint lang-js">
	&lt;script&gt;
		window.fbAsyncInit = function () {{ '{' }}
			FB.init({{ '{' }}
				appId: '{{appFaceId}}',
				autoLogAppEvents: true,
				xfbml: true,
				version: 'v3.0'
			{{ '}' }});
            {{ '}' }};
			(function (d, s, id) {{ '{' }}
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {{ '{' }} return; {{ '}' }}
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
		{{ '}' }}(document, 'script', 'facebook-jssdk'));
	&lt;/script&gt;</pre>
		    	
		    </div>
		    <p><strong>¿Cómo hago esto?</strong></p>
		    <div class="content_howto">
			    <div class="row">
			    	<div class="col-md-5">
			    		<p><mat-icon color="primary">check_circle_outline</mat-icon> Vé al código fuente de tu Ecommerce.<br/><small>* Si no sabes habla con el administrador de tu web o la agencia que maneja esto</small></p>
			    		
			    	</div>
			    	<div class="col-md-5">
			    		<p><mat-icon color="primary">check_circle_outline</mat-icon> Pega el Script(ver arriba) luego del tag <code>&lt;body&gt;</code> de apertura en cada página que quieras incluirlo.</p>
			    	</div>
			    </div>
			</div>
			<small><mat-icon class="cancel_icon">cancel</mat-icon> Este paso es obligatorio. Sin hacer este primer paso no se puede hacer los siguientes.</small>
		    <mat-action-row>
		      <button mat-raised-button color="primary" (click)="nextStep()">Siguiente</button>
		    </mat-action-row>
		  </mat-expansion-panel>

		  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Paso 2
		      </mat-panel-title>
		      <mat-panel-description>
		        Elige qué herramienta quieres utilizar para captar nuevos suscriptores
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    <p>Elegí desde dónde queres conseguir suscriptores nuevos y pegá el código HTML en ese lugar específico</p>
			<div class="row text-center opciones_paso2">
				<div class="col-md-2 pointer" (click)="openDialog('Checkbox (Para formularios)', 'checkbox')">
					<img class="first_option" src="../assets/images/checkbox.png" width="100%" alt="">
					<p><strong>Checkbox (Para formularios)</strong></p>
				</div>
				<div class="col-md-2 pointer" (click)="openDialog('Send To Messenger (Botón)', 'sendto')">
					<img src="../assets/images/sendtomessenger.png" width="100%" alt="">
					<p><strong>Send To Messenger (Botón)</strong></p>
				</div>
				<div class="col-md-2 pointer" (click)="openDialog('MessageUs (Botón)', 'messageus')">
					<img src="../assets/images/messageus.png" width="100%" alt="">
					<p><strong>MessageUs (Botón)</strong></p>
				</div>
				<div class="col-md-3 pointer" (click)="openDialog('Link m.me (Enlace)', 'link')">
					<img src="../assets/images/linkmme.png" width="100%" alt="">
					<p><strong>Link m.me (Enlace)</strong></p>
				</div>
			</div>
		    <mat-action-row>
		      <button mat-raised-button color="warn" (click)="prevStep()" class="boton_anterior">Anterior</button>
		      <button mat-raised-button color="primary" (click)="nextStep()">Siguiente</button>
		    </mat-action-row>
		  </mat-expansion-panel>

		  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Paso 3
		      </mat-panel-title>
		      <mat-panel-description>
		        Primer mensaje que van a recibir tus potenciales suscriptores
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    <div class="row">
		    	<div class="col-md-12">
		    		<div class="mensaje">
				    	<p>Hola, ¿Cómo estás? ¿Querés recibir novedades y promociones de nuestros  productos? ¡Tenemos las mejores promociones para vos!</p>
						<button mat-button color="primary">Si, quiero recibir promociones</button>
						<button mat-button color="primary">No, por el momento no.</button>
					</div>
					<p><strong>En caso de aceptar esa persona ya será un suscriptor y recibirá el siguiente mensaje:</strong></p>
					<div class="mensaje">
						<p>Gracias, a partir de ahora vas a recibir nuestras promociones a través de Facebook Messenger. En Empresa estamos muy contentos de tenerte!</p>
					</div>
				</div>
		    </div>
		    <p>¿Querés cambiar el texto? Mandanos un mail a soporte@disse.io</p>
		    <mat-action-row>
		      <button mat-raised-button color="warn" (click)="prevStep()">Anterior</button>
		    </mat-action-row>
		  </mat-expansion-panel>

		</mat-accordion>

	</div>
</div>