.wrap-form-button
	.row
		.wrap-head
			border-bottom: 1px solid gray
			margin-bottom: 15px
		form
			.list-group
				.list-group-item
					border: 0px
					display: flex
					padding-left: 0px
					padding-bottom: 0px
		.wrap-behavior
			margin-bottom: 0px
			margin-top: 30px
		.wrap-buttons
			margin-top: 20px
			width: 100%
		button.btn
			width: 160px
		.wrap-msj
			margin-top: 12px
			padding-right: 0px
