<div class="wrap-form-button">
	<div class="row">
		<div class="col-md-12 wrap-head">
			<h1 mat-dialog-title>{{ titleModal }}</h1>	
		</div>
		{{ msjFoundByRole }}
		<div class="col-md-12" >
			<form  [formGroup]="buttonForm"  mat-dialog-content>

				<div class="form-group">
					<label for="">Título</label>
					<input formControlName="title" maxlength="20" type="text" class="form-control" id="" placeholder="Ej: Compartir">
				</div>

				<div class="form-group wrap-behavior">
					<h6>{{ titleForm }}</h6>
				</div>

				<ul class="list-inline wrap-buttons">
					<li class="list-inline-item " >
						<button type="button" mat-stroked-button color="primary" (click)="newButtonMsj()" [disabled]="!buttonForm.valid"> {{newMsj}}</button>
					</li>
					<li class="list-inline-item ">
						<button type="button" mat-stroked-button color="primary" (click)="openMsjExistent(0)" [disabled]="!buttonForm.valid">Existente</button>
					</li>
				</ul>

			</form>
		</div>
	</div>

</div>