<div class="wrap-delete-msj col-12">
	<h1 mat-dialog-title>Borrar Mensaje</h1>
	<div mat-dialog-content>
		<p>¿Esta seguro que quiere borrar el mensaje <b> {{ data.title }} ? </b> </p>		
	</div>
	<div mat-dialog-actions class="float-right">
		<button mat-raised-button color="warn" [mat-dialog-close]="true" >Cancelar</button>
		<button mat-raised-button color="primary" (click)="confirmDelete()"  cdkFocusInitial>Confirmar</button>
	</div>
</div>
