<div class="wrap-form-msj">
	
	<form [formGroup]="msjForm" >
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline">
					<li class=" title-subsection list-inline-item">Creación </li>
					<li class="float-right list-inline-item">
						<button type="button" [disabled]="msjForm.invalid" class="btn send-form btn-sm">Enviar</button>
					</li>
				</ul>
			</div>
		</div>

		<div class="row wrap-main-form">
			<div class="col-md-6">
				<div class="main-form">
					<div class="form-group">
						<input type="text" maxlength="20" formControlName="title" class="form-control" placeholder="Titulo">
					</div>
					<div class="form-group">
						<textarea maxlength="100"  class="form-control" formControlName="subtitle" placeholder="Escribe tu mensaje" cols="30" rows="10"></textarea>
					</div>
					<div class="form-group" *ngIf="!statusButtonNewMessage">
						<button mat-stroked-button color="secondary"  type="button" [disabled]="!msjForm.valid" (click)="openFormButton()" class="btn btn-lg btn-block btn-add-button">Agregar boton</button>
					</div>
					<div class="form-group list-buttons" *ngIf="!statusButtonNewMessage">
						<li class="list-group-item" *ngFor="let item of listButtons">
							<button mat-raised-button color="primary" type="button" class="btn">
								{{item.title}}
							</button>
							<button class="float-right btn btn-secondary" (click)="deleteMsg(item.title)">
								<span aria-hidden="true">&times;</span>
							</button>
						</li>
					</div>
				</div>
			</div>

			<div class="col-md-6 wrap-media">
				<div class="box-media ">
					<div class="jumbotron jumbotron-fluid">
						<div class="container text-center">
							<ul class="list-inline">
								<li class="list-inline-item icon-media"><mat-icon>edit</mat-icon></li>
								<li class="list-inline-item icon-media"><mat-icon>add_a_photo</mat-icon></li>
								<li class="list-inline-item icon-media"><mat-icon>video_call</mat-icon></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

	</form>
</div>