.wrap-form-msj
	.wrap-media
		padding-top: 0px
		margin-bottom: 12px
		.box-media, .jumbotron
			height: 100%
		.jumbotron
			.container
				margin-top: 60px
			.icon-media
				margin-right: 30px
				mat-icon
					font-size: 50px
	.wrap-main-form
		background-color: white
		margin-right: 0px
		padding-top: 10px
		.main-form
			.btn-add-button
				height: 50px
	.list-buttons
		display: inline-block
		width: 100%
		li
			display: inline-block
			width: 100%

