html {
	height: 100%;
}

body {
  background: linear-gradient(-20deg, #81b5b5, #d6c2ff, #d69ae5, #ffccb0, #efe79a); 
  color: #6e6eb9; 
  font-family: 'Roboto', sans-serif; 
  font-size: 1em;
  margin: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

button:focus {
  text-decoration: none !important;
  outline:none !important;
  box-shadow: none !important;
}
.btn{
	cursor: pointer;
}
.center-block{
	margin: auto
}
*:focus {
    outline: none;
    box-shadow: none;
}
h1, h2, h3, h4, h5, th, td, a, span, button, .btn {
  font-family: 'Roboto', sans-serif; 
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}

.wrap-section-page{
  padding-top: 25px;
}
.title-section {
   color: #9595c6;
   font-size:20px;
   margin: 14px 0px;
}



@media (min-width: 1200px) {
    .bg-alfa {
        background-position: -90%;
    }
}

 .bg-alfa{
    background: url(../../../assets/images/bg_alfa.png) fixed;
    background-position: -110%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}