@media screen and (max-width: 990px) {
  .container-fluid .wrap-app {
    display: block; }
    .container-fluid .wrap-app .col-left {
      background: linear-gradient(#3be49d, #5ca2e5); } }

@media screen and (min-width: 992px) {
  .container-fluid .wrap-app {
    display: inline-flex; }
  .container-fluid, .col-left, .wrap-app {
    min-height: 100%;
    height: 100%;
    overflow-y: auto; } }

body .container-fluid {
  padding: 0px; }
  body .container-fluid .wrap-app {
    width: 100%; }
    body .container-fluid .wrap-app .col-left {
      padding: 0px;
      background-color: white;
      box-shadow: 2px 0 20px #999; }
      body .container-fluid .wrap-app .col-left .app-menu {
        padding: 0px;
        width: 100%; }
      body .container-fluid .wrap-app .col-left img {
        width: 100%; }
    body .container-fluid .wrap-app .associate {
      flex: 100%;
      width: 100%;
      max-width: 100%; }
    body .container-fluid .wrap-app .main-contain {
      height: 100%;
      min-height: 100%;
      overflow-y: auto; }
      body .container-fluid .wrap-app .main-contain app-header {
        position: absolute;
        right: 30px; }

.wrap-contain-campanias .main-campania {
  width: 100%;
  margin: 0px; }
  .wrap-contain-campanias .main-campania .wrap-main-form, .wrap-contain-campanias .main-campania .wrap-menu-left {
    box-shadow: 0px 2px 3px #999;
    border-radius: 15px;
    border-style: hidden; }
  .wrap-contain-campanias .main-campania .title-subsection, .wrap-contain-campanias .main-campania .send-form {
    color: white;
    padding: 5px 7px;
    background-color: gray;
    font-size: 14px;
    display: initial;
    font-weight: normal; }
  .wrap-contain-campanias .main-campania .send-form {
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 0px; }

.example-tree-progress-bar {
  margin-left: 30px; }

.tree-mms {
  box-shadow: 0px 2px 3px #999;
  background-color: white;
  border-radius: 15px;
  padding: 6px;
  text-shadow: 0 0 black; }

.iphone {
  background: #fff;
  border-radius: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  height: 620px;
  margin: auto;
  max-width: 320px;
  padding: 80px 15px;
  position: relative; }
  .iphone:before {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    content: " ";
    height: 8px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 45px;
    width: 60px;
    z-index: 99; }
  .iphone:after {
    background: rgba(0, 0, 0, 0.35);
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    bottom: 11px;
    content: " ";
    height: 50px;
    left: 50%;
    margin-left: -29px;
    position: absolute;
    width: 50px;
    z-index: 99; }

.screen {
  background: #fff;
  border-radius: 2px;
  height: 100%;
  overflow: auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  padding-top: 50px; }
  .screen:after {
    clear: both;
    content: " ";
    display: table; }

.message {
  border-radius: 20px 20px 0px 0px;
  clear: both;
  max-width: 100%;
  padding: 10px 15px;
  position: relative; }
  .message:after {
    border-radius: 50%;
    bottom: 0;
    content: " ";
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: -1; }

.receive {
  background: #dedede;
  float: left;
  width: 100%;
  word-break: break-all; }

.buttons {
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #07f;
  border: 1px solid #f1f0f0;
  background: #fff;
  width: 100%;
  padding: 10px; }

.send {
  background: #2d8cfa;
  color: #fff;
  float: right; }
  .send:after {
    box-shadow: inset -1px 9px 0 4px #fff, inset 9px 1px 0 2px #2d8cfa, 0 0 0 1px #fff;
    right: -19px; }

* {
  box-sizing: border-box; }

.top-head {
  background: #f7f7f8;
  border-bottom: 1px solid #c8c7cc;
  position: absolute;
  width: 100%;
  top: 2px;
  height: 39px;
  left: 0px;
  line-height: 34px;
  text-align: center;
  color: #007aff; }

.bottom-phone {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0px; }

.buttoncreate {
  border: 1px dashed #a6a8d1;
  border-radius: 0px 0px 10px 10px;
  padding: 0 20px;
  height: 44px;
  line-height: 42px;
  color: #a6a8d1;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 7px; }

.buttoncreate:hover {
  color: #7de0b0;
  border-color: #7de0b0; }

.box-sms {
  min-height: 610px !important;
  background: #fff;
  box-shadow: 0 2px 77px rgba(132, 146, 166, 0.21);
  border-radius: 15px;
  position: relative;
  width: 100%; }

._3TdOr2lAuSohyf_ErwhiSO._3vmuw_ElXP9P2hOFQL3EgZ {
  background: #a6a8d1;
  border-radius: 15px 15px 0px 0px; }

._3TdOr2lAuSohyf_ErwhiSO {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  padding: 0 48px; }

._1kl5HWkEuk_nTMoY2WjvjC {
  display: inline-block;
  max-width: 100%;
  overflow: hidden; }

._2dvW7mFcJeoWbzViPnN3hn {
  position: relative;
  padding: 2px 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.form-mensaje {
  padding: 20px; }

input#mensaje {
  height: 50px;
  width: 100%;
  border-radius: 10px 15px 0px 0px;
  border: 1px solid #afb2d4;
  padding: 10px;
  font-size: 17px; }

input#mensaje:focus {
  border: 2px solid #77b1de; }

.txt-titl {
  width: 100%;
  text-align: center;
  background: #a6a8d1;
  border: none;
  color: #fff; }

.modal-ri {
  background-color: #fff;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 10px 0 rgba(77, 77, 77, 0.2);
  position: absolute;
  width: 100%;
  right: -250px;
  top: 60px;
  z-index: 999; }

.modal-ri:after, .modal-ri:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.modal-ri:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px; }

.modal-ri:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 11px;
  margin-top: -11px; }

.opcinesb {
  cursor: pointer;
  border: 2px dashed #e0e6ed;
  height: 60px;
  border-radius: 10px;
  position: relative;
  width: 100%; }

.p-a {
  padding: 10px;
  border-bottom: 1px solid #e0e6ed; }

.conten-popover {
  padding: 20px;
  color: #8492a6; }

input.menbuton {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #b8bbd7;
  padding: 10px; }

.buton-te {
  text-align: center;
  border: 1px solid #b8bbd7;
  border-top: none;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  position: relative; }

.nmrgin {
  margin: 0;
  padding-right: 0;
  padding-left: 0; }

.pos-r {
  position: absolute;
  right: 13px;
  top: 0;
  color: red;
  cursor: pointer; }

._3DVOew_tu7brdtuNmBq-Ez {
  border-top: 1px solid #e0e6ed; }

._353FXbnjyVyYi9vS32PHtd._1uMmpVfRkoxWJaSIqvZoIk {
  height: 32px;
  line-height: 30px;
  padding: 0 14px;
  font-size: 14px; }

._353FXbnjyVyYi9vS32PHtd {
  display: inline-block;
  height: 34px;
  line-height: 32px;
  padding: 0 20px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e0e6ed;
  border-radius: 2px;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s ease-in-out; }

._353FXbnjyVyYi9vS32PHtd.zOrnvIvPWd0MSmO4ZrEOL {
  background-color: #afb2d4;
  border-color: #afb2d4;
  color: #fff; }

.buttoncreate.-bo {
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative; }

#threeWrapper {
  font-size: 15px !important; }

.tree-content {
  margin-left: 20px !important;
  border-left: 3px solid #f1f1f1 !important;
  position: relative !important; }

.tree-content-main {
  margin-left: 20px !important;
  border-left: 3px solid #f1f1f1 !important;
  position: relative !important; }

.tree-title {
  position: relative !important;
  padding-left: 12px !important;
  align-items: center !important;
  border: 1px solid transparent !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important; }

.tree-title::before {
  position: absolute !important;
  left: -1px !important;
  top: calc(50% - 0.5px) !important;
  background-color: #f1f1f1 !important;
  height: 3px !important;
  width: 12px !important;
  align-items: center !important;
  content: '' !important; }

.input-rename {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 15px 0 0;
  font-weight: inherit;
  max-width: 200px;
  font-family: inherit;
  outline: none;
  font-size: 12px !important; }

.tree-child {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  background: #9c9dcf !important;
  width: 100% !important;
  border-radius: 6px !important;
  color: #fff; }

.d-flex > div {
  width: 100%; }

.d-flex > div > .tree-title {
  width: 100%;
  border-bottom: 1px solid #efefef !important;
  padding: 7px;
  font-size: 18px;
  color: #fff !important;
  font-weight: 700; }

.d-flex.buttons-bar {
  position: absolute;
  right: 7px; }

.show-btn, .hide-btn {
  background-color: #fff  !important;
  color: #9392cc  !important;
  height: 18px  !important;
  width: 18px  !important;
  padding: 0  !important;
  font-size: 14px  !important;
  align-items: center  !important;
  display: flex  !important;
  cursor: pointer  !important; }

.root-title {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  color: #9392cc !important;
  font-size: 19px !important; }

.tree-btn {
  color: #fff !important; }

.show-btn, .hide-btn {
  color: #9392cc !important; }

.buton-input {
  width: 100%;
  height: 40px;
  background: #9392cc;
  color: #fff;
  text-align: left;
  cursor: pointer;
  border-radius: 8px 8px 1px 10px;
  border: none;
  margin-bottom: 6px;
  padding-left: 19px; }

.mensaje-no-asignado {
  position: relative; }

@-webkit-keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0; }
  100% {
    max-height: 999px;
    opacity: 1; } }

@keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0; }
  100% {
    max-height: 999px;
    opacity: 1; } }

@-webkit-keyframes slideOut {
  0% {
    height: auto;
    opacity: 1; }
  100% {
    height: 0;
    opacity: 0; } }

@keyframes slideOut {
  0% {
    height: auto;
    opacity: 1; }
  100% {
    height: 0;
    opacity: 0; } }

.tree {
  list-style-type: none;
  padding: 0; }
  .tree .mensaje-no-asignado .pos-r {
    position: absolute;
    right: 18px;
    top: 9px;
    z-index: 999;
    width: 30px;
    background: transparent;
    text-align: center; }
  .tree .mensaje-no-asignado .-l {
    right: 0; }

.subtree {
  list-style-type: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0;
  padding-left: 17px;
  margin-top: 20px;
  margin-right: 0; }

.tree-toggle-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 100%; }
  .tree-toggle-label:after {
    display: inline-block;
    position: absolute;
    content: "+";
    color: #fff;
    margin-left: 8px;
    height: 38px;
    line-height: 18px;
    padding: 10px;
    left: -8px;
    top: -9px;
    border-radius: 10px 0px 0px 10px; }

.tree-toggle {
  position: absolute;
  opacity: 0;
  z-index: -1; }
  .tree-toggle:checked + .tree-toggle-label:after {
    content: "-"; }
  .tree-toggle:checked + .tree-toggle-label + .subtree {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .tree-toggle + .tree-toggle-label + .subtree {
    -webkit-animation-name: slideOut;
    animation-name: slideOut;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.litree:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  border-left: 1px solid #b3b3b3; }

.litree:after {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid #b3b3b3;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: -12px; }

.litree {
  color: #fff;
  padding: 5px;
  padding-right: 0px;
  position: relative;
  border-bottom: 1px solid #fff; }
  .litree input {
    padding-right: 22px;
    text-align: left;
    background: #9392cc;
    padding-left: 16px;
    padding-top: 4px;
    height: 34px;
    margin-top: -16px;
    width: 100%;
    font-size: 11px; }
  .litree .pos-r {
    position: absolute;
    left: 266px;
    right: 0;
    top: 3px;
    z-index: 999;
    width: 30px;
    background: transparent;
    text-align: center; }

.inactivo {
  border-bottom: none; }

.activo {
  border-bottom: 4px solid #bb9bef;
  font-weight: bold; }

textarea#mensaje {
  background: #dedede;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  width: 100%;
  border: 1px solid #b8bbd7;
  margin-bottom: -6px;
  color: #484a4a; }

h3 {
  color: #e57373;
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.code_script {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 12px; }

mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  bottom: -3px;
  position: relative; }

.wrap-contain-growth {
  margin-bottom: 30px; }
  .wrap-contain-growth mat-icon {
    bottom: -5px;
    position: relative; }
  .wrap-contain-growth .code_script {
    max-width: 450px;
    margin: 0 auto;
    padding: 10px; }
  .wrap-contain-growth .content_howto {
    margin: 0 auto; }
  .wrap-contain-growth .cancel_icon {
    font-size: 14px;
    margin-bottom: 0;
    width: 14px;
    height: 14px;
    color: #ff5252;
    position: relative;
    bottom: -3px; }
  .wrap-contain-growth .mensaje {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #0084FF; }
    .wrap-contain-growth .mensaje p {
      color: #1a237e; }
  .wrap-contain-growth .boton_anterior {
    margin-right: 20px; }
  .wrap-contain-growth .mat-expansion-panel-header .mat-expansion-panel-header-title {
    color: #0084FF; }
  .wrap-contain-growth .opciones_paso2 {
    margin: 0 0 0 10%; }
  .wrap-contain-growth .first_option {
    margin: 10px 10px 10px 0px; }

.pointer {
  cursor: pointer; }

.main-contain {
  width: 100%; }

.wrap-contain-associate {
  height: 90%; }
  .wrap-contain-associate .col-contain {
    height: 100%; }
    .wrap-contain-associate .col-contain .wrap-associate {
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid #e0e6ed;
      height: 100%; }
      .wrap-contain-associate .col-contain .wrap-associate h3 {
        font-size: 22px;
        font-family: 'Roboto', sans-serif; }
      .wrap-contain-associate .col-contain .wrap-associate .wrap-list-fanpage {
        height: 90%; }
        .wrap-contain-associate .col-contain .wrap-associate .wrap-list-fanpage ul.list-group {
          margin: 25px 0px;
          height: 85%;
          overflow: auto; }
          .wrap-contain-associate .col-contain .wrap-associate .wrap-list-fanpage ul.list-group li.list-group-item {
            display: block; }
            .wrap-contain-associate .col-contain .wrap-associate .wrap-list-fanpage ul.list-group li.list-group-item span {
              line-height: 45px;
              margin-left: 10px; }
      .wrap-contain-associate .col-contain .wrap-associate .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.page-content {
  width: 100%;
  margin: 0 15px; }

mat-form-field {
  display: block; }

button {
  margin: 10px; }

mat-expansion-panel-header {
  border-bottom: 1px solid #ccc; }

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none; }

.content-panel {
  padding-top: 20px; }

.mock-preview {
  width: 100%;
  background: #fff; }

.button-row {
  margin: 0 auto; }

.editable-button {
  border: 1px solid #0084FF;
  padding: 10px;
  text-align: center; }

.mat-expanded .mat-expansion-panel-header {
  background: rgba(0, 0, 0, 0.04); }

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  width: 20%; }

.wrap-contain-suscription .wrap-search {
  margin-bottom: 10px; }

.wrap-contain-suscription .wrap-suscription .table-suscription, .wrap-contain-suscription .wrap-suscription table {
  background-color: white; }

.wrap-contain-suscription .wrap-suscription table {
  box-shadow: 0px 2px 3px #999;
  border-radius: 15px;
  border-style: hidden; }
  .wrap-contain-suscription .wrap-suscription table tbody tr:first-child {
    display: none; }
  .wrap-contain-suscription .wrap-suscription table th {
    font-weight: normal; }
    .wrap-contain-suscription .wrap-suscription table th i {
      color: #6e6eb9; }
  .wrap-contain-suscription .wrap-suscription table td {
    vertical-align: middle; }
    .wrap-contain-suscription .wrap-suscription table td .favicon-table {
      background-size: cover;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
    .wrap-contain-suscription .wrap-suscription table td button.link-remove {
      cursor: pointer;
      border: 0px;
      background-color: #6e6eb9; }
      .wrap-contain-suscription .wrap-suscription table td button.link-remove:hover {
        color: red; }

.wrap-contain-suscription .wrap-suscription .pagination-sm {
  float: right; }
  .wrap-contain-suscription .wrap-suscription .pagination-sm li.page-item {
    padding: 5px 0px; }
    .wrap-contain-suscription .wrap-suscription .pagination-sm li.page-item a {
      border: 0px;
      padding: 8px 16px; }
    .wrap-contain-suscription .wrap-suscription .pagination-sm li.page-item.active a {
      background-color: #6e6eb9; }

.wrap-form-button .row .wrap-head {
  border-bottom: 1px solid gray;
  margin-bottom: 15px; }

.wrap-form-button .row form .list-group .list-group-item {
  border: 0px;
  display: flex;
  padding-left: 0px;
  padding-bottom: 0px; }

.wrap-form-button .row .wrap-behavior {
  margin-bottom: 0px;
  margin-top: 30px; }

.wrap-form-button .row .wrap-buttons {
  margin-top: 20px;
  width: 100%; }

.wrap-form-button .row button.btn {
  width: 160px; }

.wrap-form-button .row .wrap-msj {
  margin-top: 12px;
  padding-right: 0px; }

.wrap-form-list-button .row .wrap-head {
  border-bottom: 1px solid gray;
  margin-bottom: 15px; }

.wrap-form-list-button .row .wrap-main .list-group .list-group-item {
  border: 0px;
  display: flex;
  padding-left: 0px;
  padding-bottom: 0px; }

.wrap-form-list-button .row .wrap-buttons {
  position: relative;
  min-height: 305px; }

.wrap-form-list-button .row .wrap-footer {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  margin-top: 40px;
  width: 100%; }

.wrap-form-msj .wrap-media {
  padding-top: 0px;
  margin-bottom: 12px; }
  .wrap-form-msj .wrap-media .box-media, .wrap-form-msj .wrap-media .jumbotron {
    height: 100%; }
  .wrap-form-msj .wrap-media .jumbotron .container {
    margin-top: 60px; }
  .wrap-form-msj .wrap-media .jumbotron .icon-media {
    margin-right: 30px; }
    .wrap-form-msj .wrap-media .jumbotron .icon-media mat-icon {
      font-size: 50px; }

.wrap-form-msj .wrap-main-form {
  background-color: white;
  margin-right: 0px;
  padding-top: 10px; }
  .wrap-form-msj .wrap-main-form .main-form .btn-add-button {
    height: 50px; }

.wrap-form-msj .list-buttons {
  display: inline-block;
  width: 100%; }
  .wrap-form-msj .list-buttons li {
    display: inline-block;
    width: 100%; }

li.selected {
  border-left: 3px inset #5caed4; }

.wrap-menu-left {
  background-color: white;
  margin-top: 17px;
  min-height: 392px; }
  .wrap-menu-left .list-group button.title-msj {
    padding-left: 3%; }
  .wrap-menu-left .list-group span.icon-message mat-icon {
    margin-left: 10px; }
  .wrap-menu-left .ul-child-msj {
    padding-left: 0px; }
    .wrap-menu-left .ul-child-msj li.li-child-msj {
      border-radius: 0px;
      display: inline-block;
      padding-right: 5px;
      border-left: 0px; }
      .wrap-menu-left .ul-child-msj li.li-child-msj .icon-message mat-icon {
        top: 6px;
        font-size: 15px; }
      .wrap-menu-left .ul-child-msj li.li-child-msj .btn {
        font-size: 13px;
        padding-right: 5px;
        padding-left: 3px; }
        .wrap-menu-left .ul-child-msj li.li-child-msj .btn:hover {
          color: #9595c6; }
      .wrap-menu-left .ul-child-msj li.li-child-msj .list-actions {
        float: right;
        height: 38px;
        line-height: 38px; }
        .wrap-menu-left .ul-child-msj li.li-child-msj .list-actions ul li.list-inline-item:not(:last-child) {
          margin-right: 0px; }
        .wrap-menu-left .ul-child-msj li.li-child-msj .list-actions ul li button {
          padding-left: 0px;
          padding-right: 0px; }
  .wrap-menu-left .children-msj {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%; }
    .wrap-menu-left .children-msj li.children-msj-li {
      padding-left: 5%; }
  .wrap-menu-left .msj-father li {
    padding-left: 0px;
    padding-right: 0px; }
  .wrap-menu-left .wrap-title {
    width: 130px;
    text-align: left;
    padding-left: 5px; }
    .wrap-menu-left .wrap-title .title_msj {
      line-height: normal;
      height: auto;
      vertical-align: middle; }
  .wrap-menu-left .mat-icon {
    font-size: 18px;
    bottom: 0px;
    line-height: normal;
    vertical-align: middle; }
  .wrap-menu-left .mat-icon-rtl-mirror {
    height: auto; }
  .wrap-menu-left .icon-action {
    height: 21px;
    padding: 0px; }
    .wrap-menu-left .icon-action:hover {
      opacity: 0.8; }

.wrap-header {
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  padding: 9px 0px;
  z-index: 1; }
  .wrap-header .profile-picture {
    float: left; }
    .wrap-header .profile-picture img {
      border-radius: 50%; }
  .wrap-header ul {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 13px; }
    .wrap-header ul li h5 {
      color: #9595c6; }
    .wrap-header ul li a {
      color: #464a4c;
      cursor: pointer;
      font-size: 15px;
      text-decoration: none; }
    .wrap-header ul li:hover {
      color: #9595c6; }

.wrap-left-container .logo a {
  background-image: url(../../../assets/images/logo-winged-app.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  display: block;
  min-height: 165px;
  width: 100%; }

.wrap-left-container .navbar {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.wrap-left-container ul {
  list-style-type: none; }

.wrap-left-container ul.list-menu {
  padding: 0px;
  margin-top: 0px;
  width: 100%;
  min-width: auto;
  top: 0;
  left: 0;
  background: none;
  box-shadow: none;
  display: block;
  text-align: right;
  border: 0;
  z-index: 2;
  float: left;
  position: relative; }
  .wrap-left-container ul.list-menu li.dropdown {
    display: none; }
  .wrap-left-container ul.list-menu li {
    padding-right: 20px;
    padding-top: 10.2px;
    padding-bottom: 10.2px;
    border-bottom: solid #eee 1px;
    opacity: 0.7;
    font-weight: 400;
    white-space: nowrap;
    transition: all 0.3s ease; }
    .wrap-left-container ul.list-menu li i {
      margin-left: 5px;
      color: #6e6eb9; }
    .wrap-left-container ul.list-menu li a {
      color: #6e6eb9; }
      .wrap-left-container ul.list-menu li a:hover {
        text-decoration: none; }
    .wrap-left-container ul.list-menu li:hover {
      opacity: 1;
      padding-right: 30px; }

.wrap-left-container .wrap-avatar .pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.wrap-left-container .wrap-select {
  width: 100%;
  margin-top: 4px; }
  .wrap-left-container .wrap-select .dropdown .dropdown-menu {
    font-size: 15px;
    width: 100%; }
  .wrap-left-container .wrap-select .dropdown, .wrap-left-container .wrap-select button {
    width: 100%; }
    .wrap-left-container .wrap-select .dropdown .dropdown-item, .wrap-left-container .wrap-select button .dropdown-item {
      padding-left: 10px;
      line-height: 29px; }
  .wrap-left-container .wrap-select a {
    width: 100%; }
  .wrap-left-container .wrap-select button, .wrap-left-container .wrap-select a {
    color: #6e6eb9;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    opacity: 0.7; }
    .wrap-left-container .wrap-select button .picture-profile, .wrap-left-container .wrap-select a .picture-profile {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      float: left;
      height: 30px;
      margin-right: 5px;
      width: 30px; }
    .wrap-left-container .wrap-select button:hover, .wrap-left-container .wrap-select a:hover {
      opacity: 1; }
  .wrap-left-container .wrap-select button:focus {
    border: 0px;
    outline: none; }

.wrap-left-container .list-footer {
  display: inline-flex;
  padding: 0px;
  margin-top: 0px;
  width: 100%; }
  .wrap-left-container .list-footer li {
    display: block;
    text-align: center;
    padding-right: 0px;
    padding-top: 0px;
    width: 100%; }
    .wrap-left-container .list-footer li a {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 0.3s ease;
      opacity: 0.7;
      font-size: 12px;
      color: #6e6eb9;
      display: block;
      padding-top: 45px;
      height: 45px;
      width: 50%;
      margin: auto; }
      .wrap-left-container .list-footer li a:hover {
        text-decoration: none;
        opacity: 1; }
    .wrap-left-container .list-footer li .help {
      background-image: url("../../../assets/images/help_icon.png"); }
    .wrap-left-container .list-footer li .resource {
      background-image: url("../../../assets/images/resources_icon.png"); }

@media screen and (max-width: 992px) {
  .wrap-left-container {
    padding: 10px 25px; }
    .wrap-left-container ul.list-menu {
      background-color: transparent;
      padding: 0px;
      margin-top: 0px; }
      .wrap-left-container ul.list-menu li.link-version-web {
        display: none; }
      .wrap-left-container ul.list-menu li.dropdown {
        padding: 0px;
        display: block;
        border-bottom: 0px; }
        .wrap-left-container ul.list-menu li.dropdown .dropdown-menu {
          border-radius: 20px;
          margin-top: 20px;
          border: 0px; }
        .wrap-left-container ul.list-menu li.dropdown button {
          border: 1px solid white;
          padding: 8px 12px; }
          .wrap-left-container ul.list-menu li.dropdown button .fa-bars {
            color: white;
            margin: 0px; }
        .wrap-left-container ul.list-menu li.dropdown button::after {
          display: none; }
    .wrap-left-container .logo {
      height: auto;
      padding-top: 5px; }
      .wrap-left-container .logo a {
        background-image: url(../../../assets/images/w_logo-nobg.png);
        background-size: contain;
        margin: auto;
        min-height: 62px;
        width: 200px;
        height: 30px; }
    .wrap-left-container nav {
      position: absolute;
      top: 0px;
      padding: 10px 0px; }
    .wrap-left-container .list-footer {
      display: none; }
    .wrap-left-container .wrap-avatar {
      display: inline-block;
      text-align: left; }
      .wrap-left-container .wrap-avatar .pic {
        border: 2px solid white;
        height: 45px;
        width: 45px;
        float: left; }
    .wrap-left-container .wrap-select {
      display: inline-block;
      width: 153px; }
      .wrap-left-container .wrap-select .col {
        float: left;
        width: 200px; }
        .wrap-left-container .wrap-select .col button {
          font-weight: 400;
          background-color: transparent;
          color: white; }
        .wrap-left-container .wrap-select .col .dropdown-menu button {
          color: black; } }

.wrap-login .container-login {
  width: 325px;
  background-color: white;
  padding: 20px;
  border-radius: 14px;
  margin-top: 137px;
  text-align: center;
  box-shadow: 2px 0 20px #999; }
  .wrap-login .container-login button {
    cursor: pointer;
    display: block;
    background-color: #4267b2; }
  .wrap-login .container-login .logo {
    width: 200px;
    margin-bottom: 30px; }
  .wrap-login .container-login h4 {
    font-weight: 100;
    margin-bottom: 30px; }
