<div class="tree-mms">

  <div>
    <!-- <h3 class="title title-section">Mensajes</h3> -->
    <ul class="tree">
      <li class="mensajes-asignados">
        <label class="tree-toggle-label" for="tree-toggle-0">
          {{ mensaje.mensajeInicial.startingStep.stepContent[0].attachment.payload.elements[0].title }}

          <input
            class="tree-toggle-label buton-input"
            type="text"
            [(ngModel)]="mensaje.mensajeInicial.startingStep.stepContent[0].attachment.payload.elements[0].title"
            id="li{{i}}"
            style="padding-right: 62px; padding-left: 39px;position: absolute;width:100%;display:block;top: -9px;">
        </label>

        <div class="pos-r" (click)="mensaje.nuevo()" style="top:4px; right:33px">
          <i class="fa fa-plus" style="color: #fff !important;"></i>
        </div>

        <input class="tree-toggle" type="checkbox" id="tree-toggle-0" checked />

        <ul class="subtree">
          <li class="litree" *ngFor="let hijo of mensaje.mensajeInicial.bodySteps; let i = index">
            <div>
              <div class="pos-r" style="top: 4px !important;left: 80%;">
                <i class="fa fa-plus" style="color: #fff !important;"></i>
              </div>

              <div class="pos-r" (click)="mensaje.borrar(i)">
                <i class="fa fa-times" style="color: #fff !important;"></i>
              </div>
            </div>

            <input class="tree-toggle" type="checkbox" id="tree-toggle-0{{x+1}}" checked />

            <label class="tree-toggle-label" for="tree-toggle-0{{ i + 1 }}">
              <input
                type="text"
                class="txt-titl {{ estado }}"
                [(ngModel)]="hijo.stepContent[0].attachment.payload.elements[0].title"
                id="hijos{{i}}">
            </label>

            <!-- <ul class="subtree" style="margin: 0px;  margin-top: -4px; width: 101%;">
              <li class="litree" *ngFor="let nieto of hijos.nieto; let o = index">

                <div class="pos-r" (click)="creaNietoHijo(i,x,o)" style="left: 79%;top: 7px;">
                  <i class="fa fa-plus" style="color: #fff !important;"></i>
                </div>

                <div class="pos-r" (click)="borrarnieto(i,x,o)" style="left: 87%;top: 5px;">
                  <i class="fa fa-times" style="color: #fff !important;"></i>
                </div>

                <input
                  type="text"
                  class="txt-titl
                  {{estado}}"
                  [(ngModel)]="nieto.name"
                  (blur)="sendsmsb('#nieto'+o,nieto)"
                  (click)="sendsmsb('#nieto'+o,nieto)"
                  id="nieto{{o}}">

                <ul class="subtree" style="margin: 0px;  margin-top: 4px; width: 101%;">
                  <li class="litree" *ngFor="let hijonieto of nieto.hijonieto; let q = index">

                    <div class="pos-r" (click)="borrarnietoh(i,x,o,q)" style="left: 82%;top: 4px;">
                      <i class="fa fa-times" style="color: #fff !important;"></i>
                    </div>

                    <input
                      type="text"
                      class="txt-titl
                      {{estado}}"
                      [(ngModel)]="hijonieto.name"
                      (click)="sendsmsb('#hijonieto'+q,hijonieto)"
                      id="hijonieto{{q}}" >

                  </li>
                </ul>
              </li>
            </ul> -->

          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div *ngIf="noasignado.length">
    <h3 class="title title-section">Mensajes No Asignados</h3>

    <div class="mensaje-no-asignado-">

      <ul style="padding: 0;">
        <li *ngFor="let item of noasignado; let r= index" id="{{item.id}}" class="mensaje-no-asignado">
          <!-- <div class="pos-r" (click)="borraNoasignados(r)" style="top: 9px;">
            <i class="fa fa-times" style="color: #fff !important;"></i>
          </div> -->
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center buttoncreate" (click)="mensaje.nuevo()" *ngIf="mensaje.mensajeInicial.bodySteps.length < 3">+ Crear Nuevo Mensaje</div>
</div>
