li.selected
	border-left: 3px inset #5caed4

.wrap-menu-left
	background-color: white
	margin-top: 17px
	min-height: 392px
	.list-group
		button.title-msj
			padding-left: 3%
		span.icon-message
			mat-icon
				margin-left: 10px
	.ul-child-msj
		padding-left: 0px
		li.li-child-msj
			border-radius: 0px
			display: inline-block
			padding-right: 5px
			border-left: 0px
			.icon-message
				mat-icon
					top: 6px
					font-size: 15px
			.btn
				font-size: 13px
				padding-right: 5px
				padding-left: 3px
				&:hover
					color: #9595c6
			.list-actions
				float: right
				height: 38px
				line-height: 38px
				ul
					li.list-inline-item:not(:last-child)
						margin-right: 0px
					li
						button
							padding-left: 0px
							padding-right: 0px

	.children-msj
		padding-left: 0px
		padding-right: 0px
		width: 100%
		li.children-msj-li
			padding-left: 5%
	.msj-father
		li
			padding-left: 0px
			padding-right: 0px
	.wrap-title
		width: 130px
		text-align: left
		padding-left: 5px
		.title_msj
			line-height: normal
			height: auto
			vertical-align: middle
	.mat-icon
		font-size: 18px
		bottom: 0px
		line-height: normal
		vertical-align: middle
	.mat-icon-rtl-mirror
		height: auto
	.icon-action
		height: 21px
		padding: 0px
		&:hover
			opacity: 0.8