<div class="wrap-menu-left">
	
	<ul class="list-group msj-father">
		<li class="list-group-item" (mouseenter) ="showListActions = true"  (mouseleave) ="showListActions = false">
			<button  class="btn title-msj"> {{ treeListMsjFilled.title }}  </button>
		</li>
	</ul>

	<ul class="list-group ul-child-msj">
		<li class="list-group-item li-child-msj"  *ngFor="let msj of treeListMsjFilled.childMsj" [ngStyle]="changePadding(msj.order)" >
			
			<span class="icon-message"><mat-icon>message</mat-icon></span>
			<button (click)="showMsj(msj)" type="button"  class="btn add-action" > {{msj.title}}   </button>

			<div class="list-actions">
				<ul class="list-inline">
					<li class="list-inline-item">
						<button (click)="addMessage(msj)" class="btn icon-action">
							<mat-icon>add_circle</mat-icon>					
						</button>
					</li>
					<li class="list-inline-item">
						<button (click)="deleteMsj(msj)" class="btn icon-action">
							<mat-icon>delete</mat-icon>
						</button>
					</li>
				</ul>
			</div>

			<ul class="list-group ul-child-msj children-msj">
				<li class="children-msj-li" *ngFor="let msjChild of msj.childMsj" [class.selected]="msjChild.order === orderMsjSelcted">

					<span class="icon-message"><mat-icon>message</mat-icon></span>
					<button (click)="showMsj(msjChild)" type="button"  class="btn add-action title-msj" > {{msjChild.title}}   </button>
					<div class="list-actions">
						<ul class="list-inline">
							<li class="list-inline-item">
								<button (click)="addMessage(msjChild)" class="btn icon-action">
									<mat-icon>add_circle</mat-icon>					
								</button>
							</li>
							<li class="list-inline-item">
								<button (click)="deleteMsj(msjChild)" class="btn icon-action">
									<mat-icon>delete</mat-icon>
								</button>
							</li>
						</ul>
					</div>

				</li>
			</ul>

		</li>
	</ul>
</div>