.page-content
	width: 100%
	margin: 0 15px
mat-form-field
	display: block
button
	margin: 10px
mat-expansion-panel-header
	border-bottom: 1px solid #ccc
.mat-expansion-panel:not([class*=mat-elevation-z])
	box-shadow: none
.content-panel
	padding-top: 20px
.mock-preview
	width: 100%;
	background: #fff
.button-row   
	margin: 0 auto
.editable-button
	border: 1px solid #0084FF
	padding: 10px
	text-align: center
.mat-expanded .mat-expansion-panel-header
	background: rgba(0,0,0,.04)
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title
	width: 20%