<div class="row wrap-section-page wrap-contain-config">
	<div class="col-md-12">
		<div class="col-md-12">
        	<h3 class="title title-section">Configuracion</h3>
        </div>
    </div>
  	<mat-card class="page-content">
	  	<mat-card-content>
		    <mat-tab-group class="demo-tab-group">
		      <mat-tab label="General">
		        <div class="demo-tab-content">
		          <mat-accordion class="example-headers-align">
				  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Mensaje inicial
				      </mat-panel-title>
				      <mat-panel-description>
				        Configura el mensaje que recibiran
				      </mat-panel-description>
				    </mat-expansion-panel-header>
				    	<div class="row content-panel">
				    		<div class="col-md-5">
				    			<div class="mock-preview"></div>
				    		</div>
				    		<div class="col-md-6">
				    			<form [formGroup]="subscribeForm">
					    			<mat-form-field>
										<input matInput placeholder="Título" formControlName="titulo" name="titulo">
									</mat-form-field>
									<mat-form-field>
										<input matInput placeholder="Subtítulo" formControlName="subtitulo" name="subtitulo">
									</mat-form-field>
									<mat-form-field>
										<input matInput placeholder="Url de la imágen" formControlName="imgURL" name="imgURL">
									</mat-form-field>
									<div class="row">
										<div class="col-md-5">
											<input class="editable-button" matInput placeholder="Si, deseo suscribirme" formControlName="boton1">
										</div>
										<div class="col-md-5">
											<input class="editable-button" matInput placeholder="No, no quiero por ahora" formControlName="boton2">
										</div>
									</div>
								</form>
				    		</div>
				    		<div class="col-md-6">
				    			
				    		</div>
							<div class="button-row col-md-5">
							  	<button mat-raised-button color="primary" (click)="saveInitMessageData();">Guardar cambios</button>
							  	<button mat-raised-button color="warn" (click)="showInitMessageData();">Cancelar</button>
							</div>
						</div>
				  </mat-expansion-panel>

				  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				         Mensaje de aceptación
				      </mat-panel-title>
				      <mat-panel-description>
				        Configura el mensaje que recibiran
				      </mat-panel-description>
				    </mat-expansion-panel-header>
				    	MENSAJE
				  </mat-expansion-panel>

				  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Mensaje de negación
				      </mat-panel-title>
				      <mat-panel-description>
				        Configura el mensaje que recibiran
				      </mat-panel-description>
				    </mat-expansion-panel-header>
				   		MENSAJE
				  </mat-expansion-panel>
				</mat-accordion>
		        </div>
		      </mat-tab>
		    </mat-tab-group>
	  	</mat-card-content>
	</mat-card>
</div>