.litree { margin-top: -2px; }

.litree .msjHijo, .litree .msjNieto, .litree .msjBisnieto, .litree .noAsignado, #order0 {
   display:flex;
   justify-content: space-between;
   align-items: center;
   background: #a6a8d1;
   color: #fff;
   border-radius: .2em .4em .2em .4em;
   padding: .3em 1em;
   transition: .15s ease-in-out;
   cursor:context-menu;
}

.litree .msjHijo {
   background: #ccc;
   color:#555;
}

.litree .msjNieto {
   background: #f2f2f2;
   color:#777;
}

.litree .msjBisnieto {
   background: #f4f4f4;
   color:#bbb;
}

.litree .noAsignado {
   background: #666;
   color:#ccc;
}

.activo { font-weight: bold; box-sizing: content-box;}
.litree .msjHijo.activo, .litree .msjHijo.activo:hover
{ background:#ddd; color:#777 }
.litree .msjHijo.activo
{ border-bottom:4px solid #777 }

#order0.activo,#order0.activo:hover { background:#7b7dad }

.litree .msjNieto.activo, .litree .msjNieto:hover{ background:#eee; color:#999 }
.litree .msjNieto{ border-color:#999 }

.litree .msjBisnieto.activo, .litree .msjBisnieto:hover{ background:#f4f4f4; color:#bbb }
.litree .msjBisnieto{ border-color:#bbb }

.litree .noAsignado.activo, .litree .noAsignado:hover{ background:#777 }
.litree .noAsignado.activo { border-color:#999 }


.objetoDeArbol > div {
   display:flex;
   align-items: center;
}

.objetoDeArbol i { cursor:pointer }

/* .objetoDeArbol .tree-toggle {display:block!important;} */
.objetoDeArbol .tree-toggle-label,
.no-asignados-title .tree-toggle-label {
   width: 1.5em;
}

.tree-toggle-label::after { display:none; content: none}

.subtree{ margin-top: 0 }

.box-sms { min-height: 0 !important }

.objetoDeArbol .tree-toggle + .subtree {
   max-height:800px;
   transition: .2s ease-in-out;
   overflow:hidden;
}

.objetoDeArbol .tree-toggle:checked + .subtree {
   max-height:0px
}
.no-asignados-title { cursor: pointer; display:flex }
