.wrap-contain-campanias
	.main-campania
		width: 100%
		margin: 0px
		.wrap-main-form, .wrap-menu-left
			box-shadow: 0px 2px 3px #999
			border-radius: 15px
			border-style: hidden
		.title-subsection, .send-form
			color: white
			padding: 5px 7px
			background-color: gray
			font-size: 14px
			display: initial
			font-weight: normal
		.send-form
			cursor: pointer
			padding: 6px 15px
			border-radius: 0px


.example-tree-progress-bar
 	margin-left: 30px
.tree-mms
  box-shadow: 0px 2px 3px #999
  background-color: white
  border-radius: 15px
  padding: 6px
  text-shadow: 0 0 black
.iphone
  background: #fff
  border-radius: 40px
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  font-weight: 100
  height: 620px
  margin: auto
  max-width: 320px
  padding: 80px 15px
  position: relative
  &:before
    background: rgba(0, 0, 0, 0.35)
    border-radius: 4px
    content: " "
    height: 8px
    left: 50%
    margin-left: -30px
    position: absolute
    top: 45px
    width: 60px
    z-index: 99
  &:after
    background: rgba(0, 0, 0, 0.35)
    border: 4px solid rgba(255, 255, 255, 0.6)
    border-radius: 50%
    bottom: 11px
    content: " "
    height: 50px
    left: 50%
    margin-left: -29px
    position: absolute
    width: 50px
    z-index: 99

.screen
  background: #fff
  border-radius: 2px
  height: 100%
  overflow: auto
  padding: 20px
  position: relative
  z-index: 1
  padding-top: 50px
  &:after
    clear: both
    content: " "
    display: table

.message
  border-radius: 20px 20px 0px 0px
  clear: both
  max-width: 100%
  padding: 10px 15px
  position: relative
  &:after
    border-radius: 50%
    bottom: 0
    content: " "
    height: 30px
    position: absolute
    width: 30px
    z-index: -1

.receive
  background: #dedede
  float: left
  width: 100%
  word-break: break-all
.buttons
  padding: 0
  line-height: 20px
  font-size: 14px
  text-align: center
  color: #07f
  border: 1px solid #f1f0f0
  background: #fff
  width: 100%
  padding: 10px
.send
  background: #2d8cfa
  color: #fff
  float: right
  &:after
    box-shadow: inset -1px 9px 0 4px #fff, inset 9px 1px 0 2px #2d8cfa, 0 0 0 1px #fff
    right: -19px

*
  box-sizing: border-box

.top-head
  background: #f7f7f8
  border-bottom: 1px solid #c8c7cc
  position: absolute
  width: 100%
  top: 2px
  height: 39px
  left: 0px
  line-height: 34px
  text-align: center
  color: #007aff

.bottom-phone
  width: 100%
  position: absolute
  bottom: 0
  left: 0px

.buttoncreate
  border: 1px dashed #a6a8d1
  border-radius: 0px 0px 10px 10px
  padding: 0 20px
  height: 44px
  line-height: 42px
  color: #a6a8d1
  cursor: pointer
  margin: 0 auto
  margin-top: 7px
.buttoncreate:hover
  color: #7de0b0
  border-color: #7de0b0
.box-sms
  min-height: 610px !important
  background: #fff
  box-shadow: 0 2px 77px rgba(132, 146, 166, 0.21)
  border-radius: 15px
  position: relative
  width: 100%
._3TdOr2lAuSohyf_ErwhiSO._3vmuw_ElXP9P2hOFQL3EgZ
  background: #a6a8d1
  border-radius: 15px 15px 0px 0px
._3TdOr2lAuSohyf_ErwhiSO
  position: relative
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  height: 60px
  padding: 0 48px
._1kl5HWkEuk_nTMoY2WjvjC
  display: inline-block
  max-width: 100%
  overflow: hidden
._2dvW7mFcJeoWbzViPnN3hn
  position: relative
  padding: 2px 4px
  border: 1px solid transparent
  color: #fff
  cursor: pointer
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
.form-mensaje
  padding: 20px
input#mensaje
  height: 50px
  width: 100%
  border-radius: 10px 15px 0px 0px
  border: 1px solid #afb2d4
  padding: 10px
  font-size: 17px
input#mensaje:focus
  border: 2px solid #77b1de
.txt-titl
  width: 100%
  text-align: center
  background: #a6a8d1
  border: none
  color:#fff

.modal-ri
  background-color: #fff
  border: 1px solid #e0e6ed
  box-shadow: 0 0 10px 0 rgba(77, 77, 77, 0.2)
  position: absolute
  width: 100%
  right: -250px
  top: 60px
  z-index: 999
.modal-ri
  &:after, &:before
    right: 100%
    top: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
  &:after
    border-color: rgba(136, 183, 213, 0)
    border-right-color: #ffffff
    border-width: 10px
    margin-top: -10px
  &:before
    border-color: rgba(194, 225, 245, 0)
    border-right-color: #c2e1f5
    border-width: 11px
    margin-top: -11px
.opcinesb
  cursor: pointer
  border: 2px dashed #e0e6ed
  height: 60px
  border-radius: 10px
  position: relative
  width: 100%
.p-a
  padding: 10px
  border-bottom: 1px solid #e0e6ed
.conten-popover
  padding: 20px
  color:#8492a6
input.menbuton
  width: 100%
  height: 40px
  border-radius: 10px
  margin-bottom: 10px
  border: 1px solid #b8bbd7
  padding: 10px
.buton-te
  text-align: center
  border: 1px solid #b8bbd7
  border-top: none
  height: 40px
  line-height: 40px
  cursor: pointer
  position: relative
.nmrgin
  margin: 0
  padding-right: 0;
  padding-left: 0
.pos-r
  position: absolute
  right: 13px
  top: 0
  color: red
  cursor: pointer
._3DVOew_tu7brdtuNmBq-Ez
  border-top: 1px solid #e0e6ed
._353FXbnjyVyYi9vS32PHtd._1uMmpVfRkoxWJaSIqvZoIk
  height: 32px
  line-height: 30px
  padding: 0 14px
  font-size: 14px
._353FXbnjyVyYi9vS32PHtd
  display: inline-block
  height: 34px
  line-height: 32px
  padding: 0 20px
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #e0e6ed
  border-radius: 2px
  outline: none
  font-size: 15px
  font-weight: 400
  text-align: center
  text-transform: capitalize
  white-space: nowrap
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  transition: all .15s ease-in-out
._353FXbnjyVyYi9vS32PHtd.zOrnvIvPWd0MSmO4ZrEOL
  background-color: #afb2d4
  border-color: #afb2d4
  color:#fff
.buttoncreate.-bo
  border: 2px solid
  border-radius: 10px
  margin-bottom: 10px
  position: relative
#threeWrapper
  font-size: 15px !important
.tree-content
  margin-left: 20px !important
  border-left: 3px solid #f1f1f1 !important
  position: relative !important
.tree-content-main
  margin-left: 20px !important
  border-left: 3px solid #f1f1f1 !important
  position: relative !important
.tree-title
  position: relative !important
  padding-left: 12px !important
  align-items: center !important
  border: 1px solid transparent !important
  border-top: 5px solid transparent !important
  border-bottom: 5px solid transparent !important
.tree-title::before
  position: absolute !important
  left: -1px !important
  top: calc(50% - 0.5px) !important
  background-color: #f1f1f1 !important
  height: 3px !important
  width: 12px !important
  align-items: center !important
  content: '' !important
.input-rename
  padding-left: 5px
  padding-right: 5px
  margin: 0 15px 0 0
  font-weight: inherit
  max-width: 200px
  font-family: inherit
  outline: none
  font-size: 12px !important
.tree-child
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  width: -webkit-fit-content
  width: -moz-fit-content
  width: fit-content
  box-sizing: border-box
  position: relative
  background: #9c9dcf !important
  width: 100% !important
  border-radius: 6px !important
  color:#fff
.d-flex > div
  width: 100%
.d-flex > div > .tree-title
  width: 100%
  border-bottom: 1px solid #efefef !important
  padding: 7px
  font-size: 18px
  color: #fff !important
  font-weight: 700
.d-flex.buttons-bar
  position: absolute
  right: 7px
.show-btn, .hide-btn
  background-color: #fff  !important
  color: #9392cc  !important
  height: 18px  !important
  width: 18px  !important
  padding: 0  !important
  font-size: 14px  !important
  align-items: center  !important
  display: flex  !important
  cursor: pointer  !important

.root-title
  margin-bottom: 10px !important
  margin-top: 10px !important
  color: #9392cc !important
  font-size: 19px !important
.tree-btn
  color: #fff !important
.show-btn, .hide-btn
  color: #9392cc !important
.buton-input
  width: 100%
  height: 40px
  background: #9392cc
  color: #fff
  text-align: left
  cursor: pointer
  border-radius: 8px 8px 1px 10px
  border: none
  margin-bottom: 6px
  padding-left: 19px
.mensaje-no-asignado
  position: relative
@-webkit-keyframes slideIn
  0%
    max-height: 0
    opacity: 0

  100%
    max-height: 999px
    opacity: 1


@keyframes slideIn
  0%
    max-height: 0
    opacity: 0

  100%
    max-height: 999px
    opacity: 1


@-webkit-keyframes slideOut
  0%
    height: auto
    opacity: 1

  100%
    height: 0
    opacity: 0


@keyframes slideOut
  0%
    height: auto
    opacity: 1

  100%
    height: 0
    opacity: 0



.tree
  list-style-type: none
  padding: 0
  .mensaje-no-asignado, .mensajes-asignados
    .pos-r
      position: absolute
      right: 18px
      top: 9px
      z-index: 999
      width: 30px
      background: transparent
      text-align: center
    .-l
      right: 0
		.tree
			display: flex
			justify-content: space-between
			align-items: center

.subtree
  list-style-type: none
  overflow: hidden
  transition: all 0.2s ease-in-out
  margin-bottom: 0
  padding-left: 17px
  margin-top: 20px
  margin-right: 0
	li
		display: flex
		align-items: center
		justify-content: space-between

.tree-toggle-label
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  cursor: pointer
  position: relative
  width: 100%
  &:after
    display: inline-block
    position: absolute
    content: "+"
    color: #fff
    margin-left: 8px
    height: 38px
    line-height: 18px
    padding: 10px
    left: -8px
    top: -9px
    border-radius: 10px 0px 0px 10px

.tree-toggle
  position: absolute
  opacity: 0
  z-index: -1
  &:checked
    + .tree-toggle-label:after
      content: "-"
    + .tree-toggle-label + .subtree
      -webkit-animation-name: slideIn
      animation-name: slideIn
      -webkit-animation-duration: 0.25s
      animation-duration: 0.25s
      -webkit-animation-fill-mode: both
      animation-fill-mode: both
  + .tree-toggle-label + .subtree
    -webkit-animation-name: slideOut
    animation-name: slideOut
    -webkit-animation-duration: 0.25s
    animation-duration: 0.25s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
.litree:before
  content: ""
  display: block
  width: 0
  position: absolute
  top: 0
  bottom: 0
  left: -12px
  border-left: 1px solid #b3b3b3
.litree:after
  content: ""
  display: block
  width: 10px
  height: 0
  border-top: 1px solid #b3b3b3
  margin-top: -1px
  position: absolute
  top: 1em
  left: -12px
.litree
  color: #fff
  padding: 5px
  padding-right: 0px
  position: relative
  border-bottom: 1px solid #fff
  input
    padding-right: 22px
    text-align: left
    background:#9392cc
    padding-left: 16px
    padding-top: 4px
    height: 34px
    margin-top: -16px
    width: 100%
    font-size: 11px
  .pos-r
    position: absolute
    left: 266px
    right: 0
    top: 3px
    z-index: 999
    width: 30px
    background: transparent
    text-align: center
	.msjHijo
		background: #a6a8d1
		color: #fff
		border-radius: .2em .4em .2em .4em
		padding: .3em 1em

.inactivo
  border-bottom: none
.activo
  border-bottom: 4px solid #bb9bef
  font-weight: bold
textarea#mensaje
  background: #dedede
  border-radius: 20px 20px 0px 0px
  padding: 10px
  width: 100%;
  border: 1px solid #b8bbd7
  margin-bottom: -6px
  color: #484a4a
