<div class="row wrap-section-page wrap-contain-campanias">

	<div class="main-campania">
		<div class="col-md-12 d-flex justify-content-between mb-3">
			<h3 class="title title-section">Campañas</h3>
			<button class="btn btn-primary" (click)="envioData.enviarData()">Enviar</button>
		</div>
	</div>

	<div class="row main-campania">
		<div class="wrap-menu-vertical col-md-6">
			<div class="tree-mms">

				<div>
					<!-- <h3 class="title title-section">Mensajes</h3> -->
					<ul class="tree">
						<li class="mensajes-asignados">
							<div id="order0" class="objetoDeArbol" (click)="seleccionarMensaje(0)" (mouseenter)="resaltarMensaje(true, 0)" (mouseleave)="resaltarMensaje(false, 0)">
								<div>
									<div class="tree-toggle-label" (click)="campaniaData.mensajesData[0].seMuestra = !campaniaData.mensajesData[0].seMuestra">
										<span *ngIf="campaniaData.mensajesData[0].hijos > 0 && !campaniaData.mensajesData[0].seMuestra">+</span>
										<span *ngIf="campaniaData.mensajesData[0].hijos > 0 && campaniaData.mensajesData[0].seMuestra">-</span>
									</div>

									{{ campaniaData.mensajesData[0].nombre }}
								</div>

								<div (click)="mensaje.crear(0)" *ngIf="campaniaData.mensajesData[0].hijos < 3 && (campaniaData.order == 0 || mensajeSeleccionado == 0)">
									<i class="fa fa-plus"></i>
								</div>
							</div>

							<ul class="subtree" *ngIf="campaniaData.mensajesData[0].seMuestra">
								<li class="litree" *ngFor="let hijo of campaniaData.cargarMensajes(0); let i = index">
									<div id="order{{hijo.order}}" class="msjHijo objetoDeArbol" (click)="seleccionarMensaje(hijo.order)" (mouseenter)="resaltarMensaje(true, hijo.order)" (mouseleave)="resaltarMensaje(false, hijo.order)">
										<div>
											<div class="tree-toggle-label" (click)="hijo.seMuestra = !hijo.seMuestra">
												<span *ngIf="campaniaData.cargarMensajes(hijo.order).length > 0 && !hijo.seMuestra">+</span>
												<span *ngIf="campaniaData.cargarMensajes(hijo.order).length > 0 && hijo.seMuestra">-</span>
											</div>

											{{ hijo.nombre }}
										</div>

										<div *ngIf="campaniaData.order == hijo.order || mensajeSeleccionado == hijo.order">
											<i class="fa fa-plus" (click)="mensaje.crear(hijo.order)" *ngIf="hijo.hijos < 3 || hijo.hijos < 3"></i>
											<i class="fa fa-times ml-2" (click)="mensaje.borrar(hijo.order); seleccionarMensaje(0)"></i>
										</div>
									</div>

									<ul class="subtree" *ngIf="hijo.seMuestra">
										<li class="litree" *ngFor="let nieto of campaniaData.cargarMensajes(hijo.order); let e = index">

											<div class="msjNieto objetoDeArbol" id="order{{nieto.order}}" (click)="seleccionarMensaje(nieto.order)" (mouseenter)="resaltarMensaje(true, nieto.order)" (mouseleave)="resaltarMensaje(false, null)">
												<div>
													<div class="tree-toggle-label" (click)="nieto.seMuestra = !nieto.seMuestra">
														<span *ngIf="nieto.hijos > 0 && !nieto.seMuestra">+</span>
														<span *ngIf="nieto.hijos > 0 && nieto.seMuestra">-</span>
													</div>

													{{ nieto.nombre }}
												</div>

												<div *ngIf="campaniaData.order == nieto.order || mensajeSeleccionado == nieto.order">
													<i class="fa fa-plus" (click)="mensaje.crear(nieto.order)" *ngIf="nieto.hijos < 3"></i>
													<i class="fa fa-times ml-2" (click)="mensaje.borrar(nieto.order); seleccionarMensaje(hijo.order)"></i>
												</div>
											</div>

											<ul class="subtree" *ngIf="nieto.seMuestra">
												<li class="litree" *ngFor="let bisnieto of campaniaData.cargarMensajes(nieto.order); let o = index" >
													<div class="msjBisnieto objetoDeArbol" id="order{{bisnieto.order}}" (click)="seleccionarMensaje(bisnieto.order)" (mouseenter)="resaltarMensaje(true,bisnieto.order)" (mouseleave)="resaltarMensaje(false, null)">

														<div>
															{{ bisnieto.nombre }}
														</div>

														<div *ngIf="campaniaData.order == bisnieto.order || mensajeSeleccionado == bisnieto.order">
															<i class="fa fa-times" (click)="mensaje.borrar(bisnieto.order); seleccionarMensaje(nieto.order)"></i>
														</div>
													</div>

												</li>
											</ul>
										</li>
									</ul>

								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div *ngIf="campaniaData.cargarMensajes(-1).length > 0">
					<hr>
					<h3 class="title title-section pl-2 no-asignados-title" (click)="mostrarNoAsignados = !mostrarNoAsignados">
						<div class="tree-toggle-label">
							<span *ngIf="!mostrarNoAsignados">+</span>
							<span *ngIf="mostrarNoAsignados">-</span>
						</div>
						Mensajes No Asignados ({{ campaniaData.cargarMensajes(-1).length }})
					</h3>

					<ul class="subtree" *ngIf="mostrarNoAsignados">
						<div *ngFor="let hijoNA of campaniaData.cargarMensajes(-1); let i = index">
							<li class="litree">
								<div id="order{{hijoNA.order}}" class="objetoDeArbol noAsignado" (click)="seleccionarMensaje(hijoNA.order)" (mouseenter)="resaltarMensaje(true, hijoNA.order)" (mouseleave)="resaltarMensaje(false, null)">
									<div>
										{{hijoNA.nombre}}
									</div>

									<i class="fa fa-times" (click)="mensaje.borrar(hijoNA.order); seleccionarMensaje(0)" *ngIf="mensajeSeleccionado == hijoNA.order || campaniaData.order == hijoNA.order"></i>
								</div>

							</li>
						</div>
					</ul>
				</div>

				<div class="text-center buttoncreate" (click)="mensaje.crear(-1)">+ Crear Nuevo Mensaje</div>
			</div>

		</div>

		<div class="wrap-container-form col-md-6">
			<div class="box-sms">

				<div class="_3TdOr2lAuSohyf_ErwhiSO _3vmuw_ElXP9P2hOFQL3EgZ text-heading2 text-white">
					Edita el mensaje
				</div>

				<div id="edit-box-content" class="p-3">

					<div class="form-mensaje p-0">
						<input type="text" class="form-control mb-3" placeholder="Nombre del mensaje" [(ngModel)]="campaniaData.mensajesData[mensajeSeleccionado].nombre">

						<textarea
							rows="4"
							class="text-form mb-2"
							type="text"
							name="mensaje"
							id="mensaje"
							[(ngModel)]="campaniaData.mensajesData[mensajeSeleccionado].title"
							placeholder="Escriba su mensaje">
						</textarea>

						<button
							*ngFor="let btn of campaniaData.mensajesData[mensajeSeleccionado].buttons; let i = index"
							class="btn btn-block"
							id="btn{{boton + '_' + campaniaData.order + '_' + i}}"
							(click)="modalService.open(editarBoton); boton.recogerDatos(mensajeSeleccionado, i, btn.vinculado)">
							{{ btn.title }}
						</button>


						<div
						class="text-center buttoncreate"
						(click)="boton.resetMensajeAVincular(); boton.nuevoBotonTitulo = null; modal(nuevoBoton)"
						*ngIf="campaniaData.mensajesData[mensajeSeleccionado].buttons.length < 3 && campaniaData.mensajesData[mensajeSeleccionado].padre >= 0">
							+ Agregar Botón
						</div>

					</div>
				</div>

			</div>
			</div>
		</div>

	<div class="wrap-container-form col-md-4">

		<!-- <div class="iphone">
			<div class="screen" style="border:1px solid #eee">
				<div class="top-head">{{"NADA AUN"}}</div>

				<div class="bottom-phone">
					<button style=" width: 100%; height: 40px; background:#afb2d4; color: #fff; cursor: pointer; ">
						Enviar
					</button>
				</div>
			</div>
		</div> -->
	</div>

</div>

<ng-template #nuevoBoton let-cerrar="close" class="modal">
	<div class="modal-header">
		<h4 class="col-12">Agregar Botón</h4>
	</div>
	<div class="modal-body">
		<div class="d-flex px-2 align-items-center">
			<span class="col-4">Título del botón:</span>
			<input class="form-control col-8" type="text" [(ngModel)]="boton.nuevoBotonTitulo"/>
		</div>

		<div class="modal-buttons">
			<button (click)="boton.vincularMensajeNuevo()" class="btn btn-primary" *ngIf="campaniaData.mensajesData[mensajeSeleccionado].hijos < 3">Mensaje nuevo</button>
			<button (click)="modalService.open(msjExistentes)" class="btn" *ngIf="campaniaData.mensajesData[mensajeSeleccionado].hijos < 3">Mensaje existente</button>
			<button class="btn btn-outline-danger" type="button"  (click)="boton.resetMensajeAVincular()"> Borrar Vinculo</button>
		</div>
		<span class="mb-3" *ngIf="boton.mensajeAVincular">Vinculado a: {{ boton.mensajeAVincular.nombre }}</span>
	</div>

	<div class="modal-footer">
		<button class="btn btn-outline-dark text-danger" type="button" (click)="cerrar()"> Cerrar</button>
		<button class="btn btn-outline-dark btn-primary" type="button" *ngIf="boton.nuevoBotonTitulo" (click)="cerrar(); boton.crearSegunVinculado()">Agregar boton</button>
	</div>
</ng-template>

<ng-template #editarBoton let-cerrar="close" class="modal">
	<div class="modal-header">
		<h4 class="col-12">Editar Botón</h4>
	</div>

	<div class="modal-body">
		<div class="d-flex px-2 align-items-center">
			<span class="col-4">Título del botón:</span>
			<input class="form-control col-8" type="text"
			[(ngModel)]="boton.enEdicion.title"/>
		</div>

		<div class="modal-buttons">
			<button (click)="boton.vincularMensajeNuevo()" class="btn btn-primary" *ngIf="boton.enEdicion.mensaje.hijos < 3">Mensaje nuevo</button>
			<button (click)="modalService.open(msjExistentes)" class="btn" *ngIf="boton.enEdicion.mensaje.hijos < 3">Mensaje existente</button>
			<button class="btn btn-outline-danger" type="button" (click)="boton.resetMensajeAVincular()">Borrar Vinculo</button>
		</div>
		<span class="mb-3" *ngIf="boton.mensajeAVincular">Vinculado a: {{ boton.mensajeAVincular.nombre }}</span>
	</div>

	<div class="modal-footer">
		<button class="btn btn-outline-dark text-danger" type="button" (click)="boton.resetMensajeAVincular(); cerrar()">Cerrar</button>
		<button class="btn btn-danger" type="button" (click)="boton.borrar(boton.enEdicion.order, boton.enEdicion.index); cerrar()">Borrar botón</button>
		<button class="btn btn-outline-dark btn-primary" type="button" *ngIf="boton.enEdicion.title" (click)="boton.editarSegunVinculado(); cerrar()">Editar boton</button>
	</div>
</ng-template>

<ng-template #msjExistentes let-cerrar="close" class="modal">
	<div class="modal-header">
		<h4 class="col-12">Mensajes no asignados</h4>
	</div>
	<div class="modal-body">
		<div>
			<select class="form-control col-12" [(ngModel)]="boton.mensajeAVincularPlaceholder" placeholder="Selecciona un mensaje...">
				<option *ngFor="let mensaje of campaniaData.cargarMensajes(-1); let i = index" [ngValue]="mensaje">
					{{mensaje.nombre}}
				</option>
			</select>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-outline-dark text-danger btn-block" type="button" (click)="cerrar()">Cancelar</button>
		<button class="btn btn-outline-dark btn-primary btn-block" type="button" (click)="cerrar(); boton.vincularMensajeExistente()" *ngIf="boton.mensajeAVincularPlaceholder">Vincular mensaje</button>
	</div>
</ng-template>
