/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Itim');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.modal-header {
  background: #a6a8d1;
  padding: 1em !important;
  color: #fff;
  border-radius: .2rem .2rem 0 0;
}

.modal-buttons {
  display:flex;
  justify-content: space-between;
  font-size:.8em;
  margin:1em 0
}

.modal-content .btn-primary{
  background: #a6a8d1;
  border-color: #a6a8d1;
}
